body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.button {
  background-color:#F9F3DF ;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 30px;
}
.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.programmer {
  font-family: monospace;
  font-size: 30px;
  color: grey;

}

.aboutjanith {
  color: black;
  font-family: monospace;
  font-size: 30px;

  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;

}

h1 {
  margin-top: 0;
  margin-left: 10px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.heading {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  font-size: 200px;
  width: 40%;
}

.top {
  background-color: #F9F3DF;
  padding-top: 50px;
}

.middle {
  height: 200px;
  width: 200px;
  background-color: red;
}

.bottom {
  height: 200px;
  width: 200px;
  background-color: yellow;
}

.cloudb {
  position: absolute;
  right: 200px;
}

.clouda {
  display: block;
  position: absolute;
  top: 800px;
  left: 300px;
}

.middle-container {}

.janithis {
  font-family: monospace;
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.janithskills {
  font-family: monospace;
  font-size: 30px;

}

.education {
  font-family: monospace;
  font-size: 20px;
  text-align: left;
  padding-bottom: 50px;
}

.edu {
  font-family: monospace;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.profile {
  margin-left: auto;
  margin-right: auto;
}

.skill-row {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.school {}

.campus {

}

.both{
  margin-left: 20%;
  margin-right: 20%;
}

.maris {
  width: 10%;
  float: right;
  margin-left: 30px;
  position: relative;

}

.university {
  width: 10%;
  float: left;
  margin-right: 30px;
}

.getin {
  padding-top: 50px;
}

.contact-me {
  background-color: #CDF2CA;
  margin: 0;
}

.btn {
  background-color: #CDF2CA;
  margin: 0;
}

.bottom-container {
  background-color: #CDF2CA;
  margin: 0;
  padding-bottom: 50px;
}

.degree {
  font-family: monospace;
  font-size: 20px;
}

.degreedescription {
  font-family: monospace;
  font-size: 16px;
  color: grey;
}

.spanone {
  display: block;
}

.schoolmaris {
  font-family: monospace;
  font-size: 20px;


}

.schoolyear {
  font-family: monospace;
  font-size: 16px;
  color: grey;
}

.flutter{
  width: 64px;
  margin: 10px;
}

.dart{
  width: 64px;
  margin: 10px;
}

.pandas{
  margin: 10px;
  width:64px;
}

img{
  margin: 10px;
}
